<% include partials/header %>
<div class="container jumbotron text-center">
    <h1><%= cat.title %></h1>
    <img src="<%= cat.image %>" alt="Camp Image" class="img-fluid">
    <p class="lead mt-3"><%= cat.details %></p>
</div>
<% include partials/footer %>
